body{
    margin:0;
    display:flex;
    font-family:Arial;
}

.sidebar{
    width:220px;
    background:#1e3c72;
    color:white;
    height:100vh;
    padding:20px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:10px;
    margin:8px 0;
    cursor:pointer;
    background:#274b8a;
    border-radius:5px;
}

.sidebar li:hover{
    background:#3b6acb;
}

.main{
    flex:1;
    padding:20px;
    background:#f4f6f9;
}

.section{
    display:none;
}

.active{
    display:block;
}

.card{
    background:white;
    padding:20px;
    margin:10px 0;
    border-radius:8px;
}
