body{
    font-family:Arial;
    background:#f4f6f9;
    text-align:center;
}

.center-box, .dashboard{
    width:350px;
    margin:80px auto;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input, select{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    width:100%;
    padding:10px;
    background:#1e3c72;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#16325c;
}
